
.note-window{
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 10rem;

    font-size: 1.1rem;


    pre{
        background-color: transparent !important;
        overflow-x: hidden !important;
    }
}
