.dock {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 0.85rem;
  transform: translateX(-50%);

  background-color: rgb(63, 63, 63, 0.395);
  border-radius: 0.75rem;
  bottom: 0.75rem;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  left: 50%;
  // background: transparent;
  backdrop-filter: blur(20px);

  .icon {
    padding: 0.65rem;
    display: flex;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 3.75rem;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .github,
  .cli {
    background-color: black;
  }

  .note {
    background: linear-gradient(
      to bottom,
      rgb(255, 179, 87),
      rgb(255, 153, 28)
    );
  }

  .pdf {
    background: linear-gradient(to bottom, rgb(255, 65, 78), rgb(255, 25, 40));
  }

  .calender,
  .mail {
    background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 52, 255));
  }

  .spotify {
    background: linear-gradient(to bottom, rgb(78, 176, 33), rgb(53, 142, 12));
  }

  .link {
    background: linear-gradient(
      to bottom,
      rgb(163, 97, 170),
      rgb(142, 33, 154)
    );
  }
  .icon:hover {
    transform: scale(1.25) translateY(-20%);
  }
  .icon:hover + .icon,
    .icon:has(+ .icon:hover) {
    transform: scale(1.1) translateY(-10%);
  }
}
